<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-brand text-center">
    <p class='m-0 p-0 font-weight-bold text-info text-sha'><%= @station.name.upcase%></p>
  </div>
  <% if current_user %>
    <%= link_to "VOLTAR", root_path, class: "btn btn-yellow font-weight-bold" %>
  <% else %>
    <%= link_to "VOLTAR", br_path, class: "btn btn-yellow font-weight-bold" %>
  <% end %>
</div>