.card-git{
  justify-content: between;
  line-height: 1.0;
  text-decoration: none;
  text-align: center;
  :hover{
    text-decoration: none;
  }
  a{
    color: white;
    text-decoration: none;
    :hover{
      text-decoration: none;
    }
    i{
      font-size: 22px;
    }
    p{
      color: white;
      text-decoration: none;
      font-size: 13px;
      :hover{
        text-decoration: none;
      }
    }
  }
}
