.bg-login{
    text-align: center;
    background-color: #D49511;
    color: white;
}

.border-login{
    border: 1px solid #dee2e6;
    border-color: #D49511;
}

.btn-yellow{
    background-color: #D49511;
    color: white;
}

.btn-yellow-small{
    background-color: #D49511;
    opacity: 50%;
    color: white;
    padding: 2px !important;
    font-size: 10px;
    :hover{
        opacity: 100% !important;
    }
}
.active{
    opacity: 100% !important;
    font-size: 13px;
}