.bg-login{
    text-align: center;
    background-color: #D49511;
    color: white;
}

.border-login{
    border: 1px solid #dee2e6;
    border-color: #D49511;
}

.btn-yellow{
    background-color: #D49511;
    color: white;
}