#mapid {
  height: 100%;
  z-index: 0;
}
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

.my-label{
  color: black;
  font-size: 10px;
}

.white-icon{
  background-image: url(asset_path('white-circle-emoji.png'));
}

.red-icon{
  background-image: url(asset_path('red-circle-emoji.png'));
}

.blue-icon{
  background-image: url(asset_path('blue-circle-emoji.png'));
}

.orange-icon{
  background-image: url(asset_path('orange-circle-emoji.png'));
}

.green-icon{
  background-image: url(asset_path('green-circle-emoji.png'));
}

.collor-yellow{
  color: #D49511 !important;
  :hover{
    opacity: 0.5;
  }
}

.all-icon{
  background-size: contain;
  text-align: center;
  vertical-align: middle;
  padding-top: 8px;
  font-size: 11px;
  font-weight: bold;
  width: 33px !important;
  height: 33px !important;
  margin-left: -16px !important;
  margin-top: -16px !important;
  position: relative;
}

.circle-color{
  position: absolute;
  -webkit-text-stroke: 1px rgb(30,30,30);
}

.circle-text{
  position: absolute;
  margin: auto;
  text-align: center;
  left: -15%;
  right: 0;
  top: 40%;
  bottom: 0;
}

.pop-up{
  color: black;
}
