#mapid {
  height: 100%;
  z-index: 0;
}
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

.my-label{
  color: black;
  font-size: 10px;
}

.white-icon{
  background-image: url('https://img.icons8.com/emoji/48/000000/white-circle-emoji.png');
}

.red-icon{
  background-image: url('https://img.icons8.com/emoji/48/000000/red-circle-emoji.png');
}

.blue-icon{
  background-image: url('https://img.icons8.com/emoji/48/000000/blue-circle-emoji.png');
}

.orange-icon{
  background-image: url('https://img.icons8.com/emoji/48/000000/orange-circle-emoji.png');
}


.all-icon{
  background-size: contain;
  text-align: center;
  vertical-align: middle;
  padding-top: 8px;
  font-size: 11px;
  font-weight: bold;
  width: 33px !important;
  height: 33px !important;
  margin-left: -16px !important;
  margin-top: -16px !important;
}

.pop-up{
  color: black;
}
