.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.text-sha{
  text-shadow: 1px 1px #000000;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.dropbtn {
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding-top: 5px;
  display: none;
  position: absolute;
  z-index: -10000;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  color: white !important;
  &:hover{
    color: white !important;
    text-decoration: none  !important;
  }
}
.flag{
  height: 25px;
  width: 25px;
}
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {}



.navbar{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1000;
  line-height: 1.0;
  font-size: 15px;
}