.full-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.9);
  z-index: 2000;
  h4{
    font-size: 20px;
  }
}

.flex-container-center {
  displaY: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.full-screen{
  color: white;
  i{
    font-size: 30px;
  }
}

.info-text{
  font-size: 30px;
  color: #D49511; /* Black */
  :hover{
    color: rgba(255,255,255,0.7);
  }
}

.nav-img{
  height: 40px;
  width: auto;
}
